* {
  font-family:  Helvetica, sans-serif;
}

h1 {
    background-color: #466995;
    color: white;
    position: relative;
    top: 40px;
}

h2 {
  background-color: #466995;
  color: white;
  position: relative;
  top: 40px;
}

h3 {
  position: relative;
  top: 20px;
  width: 200px;
  display: inline-block;
}

p {
    font-size: 20px;
    position: relative;
    top: 20px;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 5px;
    text-align: left;
}

td {
  color: black;
  z-index: 1
  position: relative;

}

th {
    background-color: #466995;
    color: white;
    position: relative;

}

table {
  border-collapse: collapse;
  width: 33%;
  background-color: white
  position: relative;
  top: 200px;
}

.menu {
  position: relative;
  top: 25px;
}

.inventory {
  position: relative;
  top: 25px;
}

.purchases {
  position: relative;
  top: 25px;
}

.recipes {
  position: relative;
  top: 25px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: firebrick;
  top: 0;
  width: 100%;
  z-index: 0;
  position: fixed;
}


.login {
  margin: auto;
  width: 500px;
  max-width: 90%;
}

.loginfooter {
  margin: auto;
   width: 500px;
   max-width: 90%;
}

li {
  float: left;
  color: white;
  text-align: center;
 }

li a:hover {
  background-color: #111;
}

li a:hover:not(.active) {
  background-color: #111
}

li a.active {
 background-color: #111;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

.btn {
  background-color: #466995;
  color: white;
  height: 40px;
  width: 150px;
  position: relative;
  top: 20px;
  display: block;
}

.btn:hover {
  background-color: #111
}

.messages {
  margin: auto;
  width: 500px;
  max-width: 100%;
}

.signup li {
  color: black;
  position: relative;
  float: none;
  text-align: left;
}

.description li {
  color: black;
  float: none;
  text-align: left;
}

.description h3 {
  display: block;
  top: ;
  width: 1000px;
}

