{% extends 'menu/base.html' %}

{% block content %}
<h1>Home</h1>
<div class='description'>
    <h3>Example of a webpage focused on basic backend functionality.</h3>
    <ul>
       <li>Database for Menu, Inventory, Purchase, Recipes</li>
       <li>CRUD functionality</li>
       <li>Dynamically updated Cost/Profit/Revenue</li>
       <li>Inventory updated with each purchase based on recipe requirements</li>
       <li>Login/Logout, Entries restricted to logged users</li>
    </ul>
</div>
{% endblock %}