{% load static %}
<link href ="{% static 'menu/style.css' %}" rel="stylesheet">
    <div class="navbar">
    <ul>
        <li><a href="{% url 'home'%}">Home</a></li>
        <li><a href="{% url 'menu' %}">Menu</a></li>
        <li><a href="{% url 'inventory' %}">Inventory</a></li>
        <li><a href="{% url 'purchases' %}">Purchases</a></li>
        <li><a href="{% url 'recipe' %}">Recipes</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <li><a> Logged as: {{ request.user }}</a></li>
    </ul>
        {% endif %}
    </div>